@media print {
    @page {
        size: 200mm 135mm;
        margin: 0;
    }
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  -webkit-print-color-adjust:exact !important;
  print-color-adjust:exact !important;
	background-color: white;
	/* width: 11.7in; */
	/* height: 8.3in; */
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	margin: auto;
}
.container {
	width: 11.7in;
	/* height: 7.3in; */
	/* height: 8.3in; */
	background: aliceblue;
	padding: 30px 50px;
	border-image: url(border1.png);
	border-image-slice: fill 35;
}
.container .header {
	text-align: center;
	font-weight: 600;
}
.header .college-name {
	font-size: calc(1rem + 1.5vw);
	font-weight: bold;
	color: #391313;
}
.header .about {
	color: #6e0f0f;
}
.header .address,
.header .eiin {
	font-size: 20px;
}
.testimonial {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 60px;
	font-weight: 600;
}

.serialNo > span:first-child::after,
.date > span:first-child::after {
	content: '........................';
	position: absolute;
	width: 100%;
	margin-top: 3px;
}
.testimonial div:nth-child(2) {
	font-size: calc(2rem + 1vw);
	-webkit-text-stroke: 1px rgb(237, 226, 27);
	-webkit-text-fill-color: #ee9f37;
	font-weight: 900;
	background-image: linear-gradient(to right, #372b17, #70562f);
	padding: 0 5px;
	border-radius: 10px;
	/* dodgerblue */
}
.main {
	margin-top: 30px;
	line-height: 2;
	font-size: 18px;
}

.name::before,
.father::before,
.mother::before,
.session-year::before,
.year::before,
.roll::before,
.reg::before,
.cgpa::before {
	content: attr(data-content);
	position: absolute;
	/* bottom: 0;
    left: 20px; */
	width: 100%;
	margin-top: -5px;
	margin-left: 10px;
}
.signature {
	display: flex;
	justify-content: space-between;
	margin: 80px 100px;
}
.signature div {
	text-align: center;
	font-weight: 500;
}
