/* @import url('https://fonts.maateen.me/kalpurush/font.css'); */

/* Bootstrap CSS Copy */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
}

body {
	-webkit-print-color-adjust: exact !important;
	print-color-adjust: exact !important;
	margin: 0;
	font-family: system-ui, -apple-system, 'Kalpurush', 'Segoe UI', Roboto,
		'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
	margin: 1rem 0;
	color: inherit;
	border: 0;
	border-top: 1px solid;
	opacity: 0.25;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	/* line-height: 1.2; */
	line-height: 1;
}

h1,
.h1 {
	font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
	h1,
	.h1 {
		font-size: 2.5rem;
	}
}

h2,
.h2 {
	font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
	h2,
	.h2 {
		font-size: 2rem;
	}
}

h3,
.h3 {
	font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
	h3,
	.h3 {
		font-size: 1.75rem;
	}
}

h4,
.h4 {
	font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
	h4,
	.h4 {
		font-size: 1.5rem;
	}
}

h5,
.h5 {
	font-size: 1.25rem;
}

h6,
.h6 {
	font-size: 1rem;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}
/* -----------> End Bootstrap CSS <------------- */
.wrap {
	width: 796px;
	height: 1123px;
	position: relative;
}
.header-section {
	width: 100%;
}
.header-section > .logo {
	background-color: #022b2f;
	width: 80px;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	margin: 0 5px 0 0;
	position: absolute;
	top: 5px;
	left: 40px;
	border-radius: 35px 35px 0 0;
}
.header-section .headings {
	width: 100%;
	text-align: center;
	padding: 5px 0;
}
.college-name {
	text-transform: uppercase;
}
.header-section .headings h2 {
	color: rgb(121, 90, 7);
	font-weight: 600;
}
.headings > h3 {
	margin-top: 30px;
}
.headings > h3 > span {
	font-weight: 600;
	border: 1px solid #837b7b;
	padding: 5px;
	text-transform: uppercase;
}
/* ------------ header section end ------------ */

/*------ student information section ------ */
.information {
	margin: 0 0 0 30px;
	display: flex;
	justify-content: space-between;
	/* width: 100%; */
}
.information .student-info {width: 75%;}
.information .student-info div {
	display: flex;
	justify-content: start;
	line-height: 2em;
}
.information .student-info div span:first-child {
	width: 8em;
}
.information .student-info div span:nth-child(2) {
	width: 1rem;
}

/*----- table ----- */
table {
	border-collapse: collapse;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
}
.marks-roll table {
	font-size: 12px;
}
.marks-roll th,
.marks-roll td{
	border: 1px solid black;
}
.marks-roll th {
	padding: 2px;
}
/* ----- marks table ----- */
.marks {
	margin: 0 10px;
}

.marks table {
	width: 100%;
}
.marks>table>thead th {
	width: 40px;
}
.marks>table>thead th:nth-child(2) {
	width: 100%;
}
.marks>table>thead th,
.marks>table>tbody td,
.marks>table>tfoot>tr:last-child td
{
	border: 1px solid black;
	padding: 5px 8px;
}
.marks>table>tbody td:nth-child(2),
.marks>table>tfoot>tr:last-child td:nth-child(2)
{
	text-align: left;
}
.no-border {
	text-align: left;
	font-weight: bold;
}
/* -----------------------------
			Summary
------------------------------- */
.summary {
	margin: 50px 10px;
}
.summary table {
	width: 100%;
}

.summary th,
.summary td{
	border: 1px solid black;
	padding: 5px;
}
.summary th {
	text-align: right;
	padding: 5px 20px;
}

/* signature */
.signature {
    margin: 5rem 0 2rem;
    display: flex;
    justify-content: space-around;
	width: 100%;
	position: absolute;
	bottom: 10px;
}
.signature .parent,
.signature .convener,
.signature .principal {
    position: relative;
}
.parent span::before,
.convener span::before,
.principal span::before {
    content: "";
    background-color: rgb(65, 61, 61);
    width: 100%;
    height: 1px;
    position: absolute;
    top: -5px;
}
/* total */
.total {
	display: flex;
	gap: 10px;
	margin: 20px;
	text-transform: uppercase;
}
.total div {
	display: flex;
	gap: 10px;
}
.total div h5 {
	margin: 0;
}
.total div {
	border: rgb(29, 28, 28) 1px solid;
	background-color: rgb(29, 28, 28);
}
.total span:first-child {
	color: rgb(29, 28, 28);
	background-color: white;
	padding: 5px;
}
.total div span:last-child {
	color: white;
	padding: 5px;
}