@import url('https://fonts.maateen.me/kalpurush/font.css');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: kalpurush;
}
body {
	-webkit-print-color-adjust: exact !important;
	print-color-adjust: exact !important;
}

header {
	text-align: center;
}
header .college-name {
	font-size: 28px;
	font-weight: 900;
    color: green;
}
header .about {
	font-size: 14px;
}
header .address {
	font-size: 16px;
	font-weight: 600;
    color: brown;
}
header .income {
	font-size: 20px;
	font-weight: 700;
    color: rgb(6, 69, 132);
}
/* main-table */
table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
    font-size: 12px;
}
table thead {
    background-color: green;
    color: white;
}
table tbody tr:nth-child(even) {
    background-color: rgb(241, 252, 227);
}
tr,
th,
td {
	border: 1px solid;
}
th, td {
    padding: 2px 5px;
}
tfoot {
    color: #044b17;
    font-weight: 700;
}
/* footer */
/* signature */
.signature {
	margin:3rem 2rem 0.5rem 2rem;
	display: flex;
	justify-content: space-between;
}
.buyer,
.seller {
	position: relative;
}
.buyer span::before,
.seller span::before {
	content: '';
	background-color: rgb(65, 61, 61);
	width: 100%;
	height: 1px;
	position: absolute;
	top: -5px;
}
